---
layout: home
title: Ramsey Rowing Club
---

{% assign sections = site.index | sort: "order" %}

<div class="navbar-fixed">
  <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {% for page in sections %}
            <li><a href="#{{ page.name | slugify }}">{{ page.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
  </nav>
</div>
<ul class="sidenav" id="mobile-demo">
  {% for page in sections %}
    <li><a href="#{{ page.name | slugify }}">{{ page.name }}</a></li>
  {% endfor %}
</ul>

{% include_relative _index/fb-script.html %}

{% for page in sections %}
  {% include parallax-banner.html image=page.image %}
  <div class="section white">
    <div class="row container">
      <h1 class="header" id="{{ page.name | slugify }}">{{ page.heading }}</h2>
      {{ page.content | markdownify }}
    </div>
  </div>
{% endfor %}

{% include_relative _index/fb-plugin.html %}
